[submodule "Highlight-Indentation-for-Emacs"]
	path = Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "graphviz-dot-mode"]
	path = graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "ws-butler"]
	path = ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
